Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.dpi: 96
Xft.rgba: rgb
URxvt.depth: 32

URxvt.termName: rxvt-256color

Xcursor.theme: ComixCursors-Black-Small-Bold

URxvt*colorBDMode:  true
URxvt*colorULMode:  true
URxvt*borderColor:        #151515
URxvt.cursorColor:        #FDA53C
URxvt*cursorColor2:       #151515
URxvt*colorUL:            #4eb4fa
URxvt*colorBD:            #3579a8

! Scrollbar
URxvt.scrollStyle:          rxvt
URxvt.scrollBar:            false

! Perl extensions
URxvt.perl-ext-common:      default,matcher,font-size
URxvt.matcher.button:       1
URxvt.urlLauncher:          qutebrowser

URxvt.keysym.C-Up:     perl:font-size:increase
URxvt.keysym.C-Down:   perl:font-size:decrease
URxvt.keysym.C-S-Up:   perl:font-size:incglobal
URxvt.keysym.C-S-Down: perl:font-size:decglobal

URxvt.background: [90]#000000

!xterm config
xterm*termName: xterm-color
xterm*background: #000000
xterm*foreground: #A8A8A8

#include ".xresources/colors/base16-bright.dark.256.xresources"
#include ".xresources/fonts/fantasque"

! vim: set filetype=xdefaults :
