!Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.dpi: 96
!Xft.rgba: rgb

! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: #6b00ff, #160036, #ffffff
rofi.color-normal: #691b8f, #ffffff, #4f0078, #ffffff, #691b8f
rofi.color-active: #463350, #ffffff, #7b5391, #16003b, #ffe000
rofi.color-urgent: #fa6900, #ffffff, #ff4700, #ffffff, #ff0000


URxvt.termName: rxvt-unicode-256color


!! FAKE
!urxvt*transparent: true
!urxvt*shading: 30

URxvt*colorBDMode:  true
URxvt*colorULMode:  true
URxvt*borderColor:        #151515
URxvt.cursorColor:        #FDA53C
URxvt*cursorColor2:       #151515
URxvt*colorUL:            #4eb4fa
URxvt*colorBD:            #3579a8

! Scrollbar
URxvt.scrollStyle:          rxvt
URxvt.scrollBar:            false

! Perl extensions
URxvt.perl-ext-common:      default,matcher,font-size
URxvt.matcher.button:       1
URxvt.urlLauncher:          qutebrowser

URxvt.keysym.C-Up:     perl:font-size:increase
URxvt.keysym.C-Down:   perl:font-size:decrease
URxvt.keysym.C-S-Up:   perl:font-size:incglobal
URxvt.keysym.C-S-Down: perl:font-size:decglobal

!URxvt.color12: rgb:5c/5c/ff

!xterm config
xterm*termName: xterm-color
xterm*background: #000000
xterm*foreground: #A8A8A8

Urxvt*depth: 32
urxvt*background: rgba:0000/0000/0200/c800
#include ".xresources/colors/base16-unikitty.dark.256.xresources"
#include ".xresources/fonts/fantasque"
