[Unit]
Description=X Selection Sync Tool
After=graphical.target

[Service]
Type=forking
ExecStart=/usr/bin/autocutsel -selection %i -fork

[Install]
WantedBy=desktop.target
