[Unit]
Description=Caffeine
Requisite=desktop.target
;After=desktop.target

[Service]
Environment=DISPLAY=:0
ExecStart=/usr/bin/caffeine

[Install]
WantedBy=desktop.target
