[Unit]
Description=X compositor
Requires=xorg.target
After=xorg.target

[Service]
Environment=DISPLAY=:0
ExecStart=/usr/bin/compton

[Install]
WantedBy=xorg.target
