[Unit]
Description=Desktop Interface

Requires=basic.target dbus.socket
After=basic.target dbus.socket

Requires=xorg.target
After=xorg.target

Requires=window-manager.service
Wants=compositor.service
Wants=notification.service
Wants=wallpaper.service
Wants=xinit.service

Before=xinit.service compositor.service wallpaper.service window-manager.service
