[Unit]
Description=Desktop Interface
AllowIsolate=no


Requires=basic.target dbus.socket xorg.service
After=basic.target dbus.socket xorg.service
PartOf=xorg.socket xorg.service

Requires=window-manager.service
Before=window-manager.service

Wants=xinit.service
Wants=compositor.service
Wants=notification.service
Wants=wallpaper.service
