[Unit]
Description=Devmon Service

Requires=desktop.target

[Service]
Type=simple
# Set DISPLAY for popup dialogs
Environment=DISPLAY=:0
ExecStart=/usr/bin/devmon

[Install]
WantedBy=desktop.target
