[Unit]
Description=Lightweight Notification Daemon
Requisite=desktop.target
;Requires=window-manager.service
;After=window-manager.service

[Service]
Type=simple
Restart=always
RestartSec=5
Environment=DISPLAY=:0
ExecStart=/usr/bin/dunst
