[Unit]
Description=GPG Agent service
DefaultDependencies=no
Before=default.target

[Service]
Type=forking
ExecStart=/usr/bin/gpg-agent --daemon

[Install]
WantedBy=multi-user.target
