[Unit]
Description=i3 screen locker
Requisite=desktop.target
After=desktop.target

[Service]
ExecStart=/usr/bin/xss-lock -- i3lock -c 000000 -d

[Install]
Alias=screen-locker.service
