[Unit]
Description=Pidgin
Requires=dbus.socket graphical.target
After=dbus.socket graphical.target

[Service]
Type=simple
Environment=DISPLAY=:0
ExecStart=/usr/bin/pidgin

[Install]
WantedBy=desktop.target
