[Unit]
Description=Redshift: color temperature adjustment

Requires=desktop.target
After=desktop.target

[Service]
Type=simple
ExecStart=/usr/bin/redshift -v

[Install]
WantedBy=desktop.target
