[Unit]
Description=tmux sessions

[Service]
Type=oneshot
ExecStart=/usr/bin/tmux -2 new-session -d -s scratchpad
ExecStart=/usr/bin/tmux -2 new-session -d -s development -c /home/victor/Workspace
ExecStop=/usr/bin/tmux kill-session -t scratchpad
ExecStop=/usr/bin/tmux kill-session -t development
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
