[Unit]
Description=tmux server
Documentation=man:tmux(1)
DefaultDependencies=no
IgnoreOnIsolate=yes

[Service]
Type=forking
ExecStart=/usr/bin/tmux -2 -S %t/tmux start-server
ExecStop=-/usr/bin/tmux -S %t/tmux kill-server

[Install]
WantedBy=basic.target
