[Unit]
Description=Random wallpaper with feh

[Timer]
OnActiveSec=0s
OnUnitActiveSec=1800s
Unit=wallpaper.service

[Install]
WantedBy=graphical.target
