[Unit]
Description=Random wallpaper with feh
After=desktop.target
DefaultDependencies=no

[Timer]
OnActiveSec=0s
OnUnitActiveSec=1800s
Unit=wallpaper.service

[Install]
WantedBy=timers.target
