[Unit]
Description=Xorg server at display

Requires=dbus.socket xorg.socket
After=dbus.socket xorg.socket

[Service]
Environment="INFINALITY_FT_FILTER_PARAMS='12 28 42 28 12'"
Environment=INFINALITY_FT_FRINGE_FILTER_STRENGTH="25"
Environment=INFINALITY_FT_USE_VARIOUS_TWEAKS="true"
Environment=INFINALITY_FT_WINDOWS_STYLE_SHARPENING_STRENGTH="25"
Environment=INFINALITY_FT_STEM_ALIGNMENT_STRENGTH="15"
Environment=INFINALITY_FT_STEM_FITTING_STRENGTH="15"
TTYPath=/dev/tty1
ExecStart=/usr/lib/xorg-server/Xorg.wrap -nolisten tcp -noreset -keeptty :0 vt1
#TTYVTDisallocate=no

[Install]
Alias=graphical.service
