[Unit]
Description=xrdb
After=graphical.target

[Service]
Type=oneshot
ExecStart=/usr/bin/xrdb -display ${DISPLAY} ${HOME}/.Xresources
RemainAfterExit=true

[Install]
WantedBy=desktop.target
